:root {
    --Nutmeg: hsl(14, 45%, 36%);
    --DarkRaspberry: hsl(332, 51%, 32%);
    
    --White: hsl(0, 0%, 100%);
    --RoseWhite: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --LightGrey: hsl(30, 18%, 87%);
    --WengeBrown: hsl(30, 10%, 34%);
    --DarkCharcoal: hsl(24, 5%, 18%);
    --BrandyRed: hsl(14, 45%, 36%);
    --Snow: hsl(331, 100%, 98%);
    --WhiteCoffee: hsl(30, 18%, 87%);

    --font-1: "Young Serif", serif;
    --font-2: "Outfit", sans-serif;
}


body {
    margin: 0;
    font-family: var(--font-2);
    color: var(--WengeBrown);
    background-color: var(--Eggshell);
    line-height: 1.6;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



* {
    box-sizing: border-box;
}

* :first-child {
    margin-top: 0;
}

* :last-child {
    margin-bottom: 0;
}

h1, h2
{
    font-family: var(--font-1);
    font-weight: 400;
    line-height: 100%;
}
h1 {
    color: var(--DarkCharcoal);
}

h2 {
    color: var(--BrandyRed);
}

h3 {
    color: var(--DarkRaspberry);
}

.container {
    background-color: var(--White);
    max-width: 736px;
}

.img-main {
    width: 100%;
}

.main {
    padding: 2.5em 8.5%;
}


.prep {
    background-color: var(--Snow);
    border-radius: .5em;
    padding: 1.5em 7.7%;
    margin-bottom: 2em;
}

.list {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.prep_list {
    
    padding-left: 1.5em;
}
.prep_list_item {
    padding-left: 7%;
}


.section {
    border-bottom: var(--WhiteCoffee) solid 1px;
    padding-bottom: 2em;
    margin-bottom: 2em;
}




.section_list {
    padding-left: 1.1em;
}

.section_list_item {
    padding-left: 5%;
}


.table_row {
    display: flex;
    align-items: center;
    padding-left: 10%;
}
.table_row:not(:first-child)
{
    padding-top: .75em;
}
.table_row:not(:last-child)
{
    padding-bottom: .75em;
    border-bottom: 1px solid var(--WhiteCoffee);
}

.table_key {
    font-weight: 400;
    margin-bottom: 0;
}

.table_val {
    margin-top: 0;
    font-weight: bold;
    color: var(--BrandyRed);
}

.table_key, .table_val {
    width: 50%;
}




@media (min-width:1440px)
{

  
    .header {
        padding: 2.5em 2.77% 0;
    }


    .main {
        padding: 2.5em 5.4%;
    }
}